<barre-erreur [message]="error" *ngIf="error !== ''"></barre-erreur>
<ul>
  <li *ngFor="let item of personnageDetails">
    <ul>
      <p>Nom: {{item.name}}</p>
      <p>Sexe: {{item.gender}}</p>
      <p>Année de Naissance: {{item.birth_year | birthdaybby}}</p>
      <p>Couleur des yeux: {{item.eye_color}}</p>
      <p>Couleur de cheuveux: {{item.hair_color}}</p>
      <p>Couleur de peau: {{item.skin_color}}</p>
      <p>Taille: {{item.height}} cm</p>
      <p>Poids: {{item.mass}} kg</p>
      <p>Planète d'origine: {{item.homeworld}}</p>
      <p>Espèce(s):
      <li *ngFor="let specie of item.species">
          <p> {{specie}}</p>
      </li></p>
      <p>Films:</p>
      <li *ngFor="let film of item.films">
        <p> {{film}} <button  [routerLink] = "['/film', film]">Learn more</button></p>
      </li>
      <p>Vaisseaux:</p>
      <li *ngFor="let starship of item.starships">
          <p> {{starship}}</p>
      </li>
      <p>Vehicules:</p>
      <li *ngFor="let vehicle of item.vehicles">
          <p> {{vehicle}}</p>
      </li>
    </ul>
  </li>
</ul>

<button [routerLink] = "['/liste']">Go back</button>
